body {
    text-align: center;
    margin-top: 20rem;
    font-family: Arial;
    background-color: #282b30;
}

button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}

.increase, .decrease {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: rebeccapurple;
    border-color: white
}

.reset {
    background-color: red;
    border-radius: 50px;
    height: 60px;
    border-color: white;
}

.counter {
    color: blueviolet;
    font-size: 50px;
}
.count {
    color: violet;
    font-size: 40px
}
